.reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-size: cover;
  box-sizing:border-box;
  padding-bottom: 120px;
  padding-top: 100px;
  text-align: center;
}

.reservation__title {
  font-family: Inter;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: 52px;
  margin: 0 auto 80px;
}

.reservation__form {
  margin: auto;
}
